*.md @nicoleomeara-astro @yanmastin-astro

/astro/  @nicoleomeara-astro @yanmastin-astro

/cli/ @nicoleomeara-astro @yanmastin-astro

/software/ @nicoleomeara-astro @yanmastin-astro

/learn/ @TJaniF @kentdanas @nicoleomeara-astro @yanmastin-astro

/code-samples/dags/ @TJaniF @kentdanas
