*.md @lzdanski @yanmastin-astro

/astro/  @lzdanski @yanmastin-astro

/software/ @lzdanski @yanmastin-astro

/learn/ @TJaniF @kentdanas @lzdanski @yanmastin-astro

/code-samples/dags/ @TJaniF @kentdanas
